.top-bar h3{
  color: white;
  text-align: center;
  /*line-height: 60px;*/
}

/* -----------------------------------------------------------------------
 GENERAL
------------------------------------------------------------------------*/

.wrap {
  width: 90%;
  margin: 0px auto;
  max-width: 1300px;
}


/* -----------------------------------------------------------------------
 NAV - DESKTOP
------------------------------------------------------------------------*/
.nav-desktop {
  background: #333;
  padding: 0px;
  height: 60px;
}

.site-logo {
  color: white;
  height: 60px;
  text-align: center;
  line-height: 60px;

}

.nav-desktop .menu-desktop {
  background-color: #333;
  line-height: 60px;
}

.dropdown.menu {
  background-color: transparent;
  line-height: 60px;
}

.dropdown.menu .menu.vertical {
  background-color: #333;
}

.top-bar-left {
  height: 60px;
  padding: 0px;
}

.top-bar-left li{
  height: 60px;
}

.top-bar-left li a {
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.dropdown.menu li a:hover{
  background-color: rgba(255,255,255,.2);
}

/*.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 1px; 
}*/

/* ----------------------------------------------------------------------
NAV - MOBILE
------------------------------------------------------------------------*/

@media (max-width: 1180px) {
  .nav-desktop{
    display: none;
  }
}

.nav-mobile {
  height: 40px;
  background-color: #222;
}

@media (min-width: 1179px) {
  .nav-mobile{
    display: none;
  }
}

.off-canvas-wrap {
  background-color: #222;
}

#offCanvasLeft {
  background-color: #222;
}

/* -----------------------------------------------------------------------
HERO
------------------------------------------------------------------------*/

.hero {
  background-color: #999;
  padding: 40px 0px;
  /*height: 400px;*/
  background-image: url(../img/swirl_pattern.png)
}

/*.hero h1 {
  color: white;
}*/

.hero p {
  max-width: 800px;
}

.button.success {
  background: green;

}

/*label .error {
  background-color: #f04124;
  color: white;
}*/

small {
  color: #f04124;
}

/* -----------------------------------------------------------------------
MAIN
------------------------------------------------------------------------*/

.main {
  padding: 80px 0px;
}

/* -----------------------------------------------------------------------
FOOTER
------------------------------------------------------------------------*/

.footer {
  background: #222;
  padding: 80px 0px;
  background-image: url(../img/footer_lodyas.png)
}

.footer h4 {
  color: white;
  font-size: 20px;
}

.footer hr {
  border-color: rgba(255, 255, 255, .1);
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer a {
  display: block;
  font-size: 12px;
  color: rgba(255,255,255, .9);
}

.footer a:hover {
  color: rgba(255, 255, 255, .7);
}

.footer a span {
  font-weight: bold;
  color: rgba(255, 255, 255, .5);
}

.restaurant {
  background-color: #333;
}

.table-div {
  border-color: rgba(255, 255, 255, .1);
  background: #a0a;
  background-color: #a0a;
  background-size: 200px 100px;

}

.table-time-left {
  text-align: center;
  color: #fff;
}

.table-button {
  vertical-align: bottom;
  text-align: right;
  float: right;
  /*position: absolute;*/
  /*right: 0;*/
}